# Auto detect text files and perform LF normalization
* text=auto
#Added for LFS
*.resS filter=lfs diff=lfs merge=lfs -text
*.assets filter=lfs diff=lfs merge=lfs -text
*.assets,[[:space:]]*.resS filter=lfs diff=lfs merge=lfs -text
